<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
       
        .container{
            background-color: rgb(224, 215, 204);
            width: 500px;
            height:800px;
            margin: 100px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            flex-direction:column;
            align-items:center
        }
        .in{
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="in">
            <img src="/<%=src%>" width="250px" height="350x"/>
        
        <br>
        <h2><%=id%>님 환영합니다!</h2>
        <p>비밀번호:<%=pw %></p>
        <p>이름:<%=name%></p>
        <p>나이:<%=age%></p>
        </div>
        
        
    </div>
</body>
</html>