<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=name %>
  <!-- ejs 태그안에 오는 자바스크립트 코드는 한줄로 끝나야 함.-->
  <!-- ejs 태그 안에 바로 =이오면 =뒤에있는 변수나 값을 html로 노출 시킨다. -->
    <% for(let i=0; i< product.length; i++){ %>
        <div>상품 <%= product[i] %></div>
    <% }%>

   
    <%="hello lily" %>
    <%-"<div>안녕</div>" %>

    <%-include("index.ejs")%> 
    
    <!-- ejs 태그 안에 바로 -이오면 -뒤에있는 변수나 값을 html로 노출 시킨다.(html 태그를 인식함) -->
    

</body>
</html>